* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;

    text-decoration: none;
}

#root {
    background-color: rgb(35, 37, 44);
    display: flex;
    justify-content: center;
    padding: 2em 0 2em 0;

    .main {
        width: max(35%, 20.8em);
        background-color: rgb(26, 27, 33);
        border-radius: 10px;

        .container {
            width: 100%;

            .image {
                object-fit: contain;
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }

        .section {
            display: grid;
            padding-inline: 1.5em;
            gap: 0.6em;

            .section-1 {
                padding-block: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                text-align: center;

                .name {
                    color: rgb(255, 255, 255);
                    font-size: 1.75em;
                }

                .about {
                    color: rgb(243, 191, 153);
                    font-size: 0.9em;
                    font-weight: 300;
                }

                .mail {
                    color: rgb(255, 255, 255);
                    font-size: 12px;
                    font-weight: 200;
                    padding-block-start: 0.9em;
                }
            }

            .contact {
                display: flex;
                justify-content: center;
                //width: min(80%, 15em);
                // grid-template-columns: repeat(2, 1fr);
                gap: min(15%, 2em);
                padding-block-end: 1em;

                a {
                    background-color: rgb(255, 255, 255);
                    color: rgb(7, 9, 10);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.6em;
                    width: min(8.2em, 115px);
                    height: 2.1em;
                    border-radius: 8px;
                }
                .linkedin {
                    background-color: rgb(80, 147, 226);
                    .linkedin-text {
                        color: rgb(255, 255, 255) !important;
                    }
                }
            }

            .section-3 {
                display: grid;
                gap: 1em;
                padding-block-end: 2em;
                padding-inline: max(4.3%, 0.73em);

                .about {
                    color: white;
                    width: 100%;
                   
                    .shalaye {
                        font-size: 0.8em;
                        color: rgb(220, 220, 220);
                    }
                }
            }
        }
        .section-4 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(22, 22, 25);
            padding-block: 1em;
            gap:min(7%, 2em);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}
